body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Pretendard-Regular";
  margin: 0px;
  background-color: #fff1dc;
}
a {
  text-decoration: none;
  white-space: nowrap;
  color: black;
}
a:visited {
  color: black;
}
li {
  list-style: none;
}
.main-page {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
a:active {
  color: black;
}
